<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Hospital Management System</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <style>
        .nav-link {
            margin-left: 1000px;
        }

        body {
            background-image: url('http://cdn.wallpapersafari.com/87/15/V6z0Eb.jpg');
            background-size: cover;
            backdrop-filter: blur(5px);
        }

        .container {
            background-image: transparent;
        }

        .input-field {
            width: 300px;
            background: transparent;
            border-color: blue;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Rainbows Hospital</a>

    <!-- Toggler/collapsible Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/staff}">Staff</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class="text-center"> Update Staff </h1>
            <div class="card-body">
                <form th:action="@{/staff/{id} (id=${staff.id})}" th:object="${staff}" method="POST">

                    <div class="form-group">
                        <label> Staff Name </label>
                        <input
                                type="text"
                                name="firstName"
                                class="form-control input-field"
                                placeholder="Enter Staff Name"
                        />
                    </div>

                    <div class="form-group">
                        <label> Staff Age </label>
                        <input
                                type="number"
                                name="age"
                                class="form-control input-field"
                                placeholder="Enter Staff age"
                        />
                    </div>
                    <div class="form-group">
                        <label> Gender </label>
                        <input
                                type="text"
                                name="gender"
                                class="form-control input-field"
                                placeholder="Enter Staff Gender"
                        />
                    </div>
                    <div class="form-group">
                        <label> Contact Details </label>
                        <input
                                type="number"
                                name="mobileno"
                                class="form-control input-field"
                                placeholder="Phone number"
                        />
                    </div>
                    <div class="form-group">
                        <label>Address</label>
                        <input
                                type="text"
                                name="address"
                                class="form-control input-field"
                                placeholder="Address"
                        />
                    </div>
                    <div class="form-group">
                        <label> Department </label>
                        <input
                                type="text"
                                name="department"
                                class="form-control input-field"
                                placeholder="Staff Department"
                        />
                    </div>
                    <div class="form-group">
                        <label>Room no</label>
                        <input
                                type="number"
                                name="roomno"
                                class="form-control input-field"
                                placeholder="Room no"
                        />
                    </div>

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">
                            Submit
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
</body>
</html>
