<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Hospital Management System</title>
<link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
<style>
.nav-link{
    margin-left:1000px;
}
.cl{
    background-color:green;
}
.search-bar{
    margin-left:100px;
}
.body{
    background-image:url('https://www.wallpapertip.com/wmimgs/99-998859_background-image-for-hospital.jpg');
    background-size:cover;
    backdrop-filter:blur(5px);
}
</style>
</head>
<body class="body">
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">rainbows Hospital</a>
</nav>    
    <div class ="container">
        <div class = "row">
            
            <h1>Staff Details </h1>
        </div>
            <div class = "row">
                <div class = "col-9">
                    <a th:href="@{/staff/new}" class="btn btn-primary btn-sm mb-3"> Add Staff</a>
                </div>
                <div class="col-">
                    <form action="/staffdetails" method="get">
                        <input type="search" placeholder="Search by ID" id="entityId" name="id" required>
                        <button type="submit"><img src="https://vectorified.com/images/search-icon-transparent-13.png" height="20px"></button>
                    </form>
                </div>
            </div>
                
        <table class="table table-striped table-bordered">
            <thead class="cl">
                <tr>
                    <th> Staff Id</th>
                    <th> Staff Name</th>
                    <th>Age </th>
                    <th> Gender</th>
                    <th>Contact number</th>
                    <th>Address </th>
                    <th>Department </th>
                    <th>Room no </th>
                    <th>Actions </th>
                </tr>
            </thead>
            
            <tbody>
                <tr th:each="staff: ${staff}">
                    <td th:text="${staff.id}"></td>
                    <td th:text="${staff.firstName}"></td>
                    <td th:text="${staff.age}"></td>
                    <td th:text="${staff.gender}"></td>
                    <td th:text="${staff.mobileno}"></td>
                    <td th:text="${staff.address}"></td>
                    <td th:text="${staff.department}"></td>
                    <td th:text="${staff.roomno}"></td>
                
                        <td>
                        <a th:href="@{/staff/edit/{id} (id=${staff.id})}"
                         class="btn btn-primary">Update</a>
                         <a th:href="@{/staff/{id} (id=${staff.id})}"
                         class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
